/* :::: Credit where credit is due :::: */
/* Sharebird: light-weight theme idea */

@import url(chrome://MonterailOverlay-OS/skin/messenger.css);
@import url(chrome://MonterailOverlay/skin/root.css);

#header-view-toolbox .toolbarbutton-icon {
    fill: #666;
}

#tabbar-toolbar .toolbarbutton-icon {
    fill: #fff;
}

#searchInput,
.searchBox {
    background: #fff !important;
    color: #000 !important;
}

#messengerWindow>#navigation-toolbox:not(:-moz-window-inactive) {
    color: #fff !important;
    background-color: var(--background-color) !important;
}

#messengerWindow>#navigation-toolbox:-moz-window-inactive {
    color: #ddd !important;
    background-color: var(--background-color-inactive) !important;
}

#menubar-items>#mail-menubar>menu {
    -moz-appearance: none;
    border-style: none;
    color: inherit !important;
}

#menubar-items>#mail-menubar>menu[_moz-menuactive="true"]:not([disabled="true"]) {
    background-color: hsla(0, 0%, 0%, .12);
}

#menubar-items>#mail-menubar>menu[_moz-menuactive="true"][open="true"]:not([disabled="true"]) {
    background-color: hsla(0, 0%, 0%, .22);
}

.mail-toolbox,
#mailContent>#mail-toolbox,
.contentTabInstance>.contentTabToolbox,
#folderpane-mode-selector-menulist, 
.contentTabToolbox {
    box-shadow: none;
    background-image: none;
    background-color: var(--background-color-light);
    color: var(--message-list-text-color);
}

#quick-filter-bar,
#status-bar,
.tabmail-tab > .tab-stack > .tab-background[selected="true"],
.tabmail-tab > .tab-stack > .tab-content[selected="true"] {
    background-color: var(--background-color-light) !important;
    color: var(--message-list-text-color) !important;
    background-image: none !important;
}

#folderpane-mode-selector-menulist {
    border: 0;
}

#attachmentView>#attachmentBar {
    color: var(--message-list-text-color);
    background-color: #fcfcfc;
}

.tabmail-tab .tab-background-middle[selected=true] {
    --fgTabBackgroundColor: #fff;
    --fgTabTexture: linear-gradient(transparent, transparent);
}

.tabmail-tab:not([selected]) {
    color: inherit !important;
}

.treecol-icon,
.tabmail-tab,
.toolbarbutton-1 {
    -moz-context-properties: fill;
}

.toolbarbutton-1,
.toolbarbutton-menubutton-button {
    color: #666;
    fill: #666;
}

#navigation-toolbox .toolbarbutton-1,
#navigation-toolbox .toolbarbutton-menubutton-button {
    color: #fff;
    fill: #fff;
}

.tabmail-tab[selected]:-moz-window-inactive .tab-icon-image,
.tabmail-tab[selected]:-moz-window-inactive .tab-label-container,
.toolbarbutton-1:-moz-window-inactive .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive>.toolbarbutton-text,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-icon,
.toolbarbutton-menubutton-button:-moz-window-inactive>.toolbarbutton-text {
    opacity: 0.5;
}

.toolbarbutton-menubutton-button>.toolbarbutton-icon,
.toolbarbutton-1 .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
    margin: 1px !important;
    padding: 0 !important;
}

toolbar>#button-chat[unreadMessages="true"] {
    fill: var(--tree-background-color-selected);
}

toolbar[brighttext]>.toolbarbutton-1 {
    fill: #fff;
}

#quick-filter-bar {
    background-color: var(--background-color-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

#singlemessage>#msgHeaderView {
    background-color: #fcfcfc !important;
    color: #000;
}

/* foldertree & threadtree */

#folderPaneBox>#folderTree {
    background-color: var(--background-color);
}

#folderTree>treechildren,
#threadTree>treechildren,
.calendar-task-tree>treechildren, 
#unifinder-search-results-tree>treechildren {
    --treechildren-selectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusCurrentBackground: var(--tree-background-color-selected);
    --treechildren-hoverSelectedBackground: var(--tree-background-color-selected);
}

.calendar-task-tree>treechildren, 
#calendar-task-tree treechildren::-moz-tree-row(even),
#calendar-task-tree treechildren::-moz-tree-row(odd),
#unifinder-search-results-tree>treechildren,
#unifinder-search-results-tree>treechildren::-moz-tree-row(even),
#unifinder-search-results-tree>treechildren::-moz-tree-row(odd),
#threadTree treechildren,
#threadTree treechildren::-moz-tree-row(container),
#threadContentArea>#threadTree {
    --treechildren-hoverBackground: var(--tree-background-color-hover);
    --treechildren-hoverCurrentBackground: var(--tree-background-color-hover);
    background-color: var(--thread-background-color) !important;
}

#threadTree treechildren::-moz-tree-row(container, hover),
#threadTree treechildren::-moz-tree-row(hover) {
    background: var(--tree-background-color-hover) !important;
}

#threadTree treechildren::-moz-tree-row(selected),
#threadTree treechildren::-moz-tree-row(container, selected) {
    background: var(--tree-background-color-selected) !important;
}

#threadTree > treechildren::-moz-tree-cell-text(untagged),
#threadCols {
    color: #000 !important;
}

#folderTree>treechildren {
    --treechildren-hoverBackground: rgba(255,255,255,.1);
    --treechildren-hoverCurrentBackground: rgba(255,255,255,.1);
}

#folderPaneBox>#folderTree:-moz-window-inactive {
    background-color: var(--background-color-inactive);
}

#threadTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected),
#threadTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
#folderTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text,
#folderTree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus),
.calendar-task-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected), 
.calendar-task-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus), 
#unifinder-search-results-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected), 
#unifinder-search-results-tree>treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected, focus) {
    color: #fff !important;
}

#rssSubscriptionsList>treechildren::-moz-tree-image,
#folderPaneBox>#folderTree>treechildren::-moz-tree-image {
    width: 14px;
    height: 14px;
}

/*     Folder Tree sizes    */

treechildren:-moz-tree-twisty {
    width: 12px !important;
    -moz-image-region: rect(0px 12px 12px 0px) !important;
    -moz-appearance: none !important;
    list-style-type: image !important;
}

#folderTree>hbox {
    margin-top: 30px !important;
}

#folderTree>treechildren::-moz-tree-row {
	margin-top: 0px !important;
}

#folderTree>treechildren::-moz-tree-row {
    height: var(--folder-tree-row-height) !important;
}

#folderTree>treechildren::-moz-tree-row(selected) {
    border: none !important;
}

#folderTree>treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
#folderTree>treechildren::-moz-tree-cell-text(folderNameCol, closed, subfoldersHaveUnreadMessages-true) {
    color: #fff !important;
    font-style: italic !important;
}

/*    Thread tree sizes   */

#threadTree>treechildren::-moz-tree-row {
    height: var(--message-list-row-height) !important;
    border: none !important;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2) !important;
}

#threadTree>treechildren::-moz-tree-row(selected) {
    border: none !important;
}

#threadCols,
#threadCols treecol,
#threadCols treecolpicker, 
.calendar-task-tree treecol, 
.calendar-task-tree treecolpicker, 
#unifinder-search-results-tree treecol, 
#unifinder-search-results-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker {
    -moz-appearance: none !important;
}

#threadCols treecol[sortDirection="ascending"] .treecol-sortdirection {
    -moz-appearance: button-arrow-up !important;
}

#threadCols treecol[sortDirection="descending"] .treecol-sortdirection {
    -moz-appearance: button-arrow-down !important;
}

#threadCols treecol,
#threadCols treecolpicker.calendar-task-tree treecol, 
.calendar-task-tree treecolpicker, 
#unifinder-search-results-tree treecol, 
#unifinder-search-results-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker,
#unifinder-todo-tree treecol,
#unifinder-todo-tree treecolpicker {
    color: var(--message-list-header-text-color) !important;
    border: none !important;
    padding: 3px !important;
    border-left: 1px solid rgba(127, 127, 127, 0.4) !important;
    min-width: 21px !important;
}

#threadPane {
    -moz-appearance: none !important;
}

/* Calendar */
.miniday-nav-buttons {
    fill: #fff !important;
    -moz-context-properties: fill, fill-opacity;
}

#today-pane-panel, #mini-day-box, #agenda-toolbar, #todo-tab-panel, #mini-day-box stack, #miniday-dropdown-button, #mini-day-box > stack > hbox > vbox {
    background-color: var(--background-color);
}

#agenda-toolbar:-moz-window-inactive, #todo-tab-panel:-moz-window-inactive, #mini-day-box:-moz-window-inactive, #mini-day-box stack:-moz-window-inactive, #today-pane-splitter:-moz-window-inactive {
    background-color: var(--background-color) !important;
}

.today-subpane {
    color: #fff;
}

#todaypane-new-event-button {
    color: #fff;
    fill: #fff;
    -moz-context-properties: fill, fill-opacity;
}

#agenda-listbox {
    background-color: var(--background-color);
    color: #fff;
}

#today-pane-panel > sidebarheader {
    background: var(--background-color-light);
}

.agenda-container-box[selected="true"],
.agenda-allday-container-box[selected="true"],
.agenda-checkbox[selected="true"],
.agenda-container-box[selected="true"][current="true"],
.agenda-allday-container-box[selected="true"][current="true"],
.agenda-checkbox[selected="true"][current="true"] {
    background-color: var(--tree-background-color-selected) !important;
    color: #fff;
}

.agenda-container-box[current="true"],
.agenda-alldaycontainer-box[current="true"],
.agenda-checkbox[current="true"],
.agenda-container-box[selected="true"][current="true"][disabled="true"],
.agenda-allday-container-box[selected="true"][current="true"][disabled="true"],
.agenda-checkbox[selected="true"][current="true"][disabled="true"] {
    color: #000;
}

/* Lightning */
#calendar-toolbox-container,
.mail-toolbox,
#calendar-task-tree treechildren::-moz-tree-cell-text,
#unifinder-todo-tree treechildren::-moz-tree-cell-text(hover),
#calendar-task-tree treechildren::-moz-tree-cell-text(hover) {
    color: #000 !important;
}

#calendar-toolbox-container .toolbarbutton-icon{
    fill: #666;
}

#ltnSidebar, 
#unifinder-todo-tree > .calendar-task-tree,
#calendar-panel {
    background-color: var(--background-color);
}

#unifinder-todo-tree treecols {
    background: var(--background-color-light);
    color: #000 !important;
}

minimonth, #unifinder-searchBox, #task-addition-box {
    background: var(--background-color-light);
}

treenode-checkbox, #task-filtertree-pane, .checkbox-label, #task-filter-pane radio:hover {
    color: #fff;
}

calendar-list-tree > tree {
    background: transparent;
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text,
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, selected),
#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover, current),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text,
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(selected, focus),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, selected),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover, current) {
    color: var(--thread-background-color);
}

#calendar-task-tree-detail treechildren::-moz-tree-cell-text(hover),
#calendar-list-tree-widget treechildren::-moz-tree-cell-text(hover) {
    color: #000;
}

#calendar-task-tree-detail treechildren,
#calendar-list-tree-widget treechildren,
#calendar-task-tree-detail treechildren::-moz-tree-row(odd),
#calendar-list-tree-widget treechildren::-moz-tree-row(odd),
#calendar-task-tree-detail treechildren::-moz-tree-row(even),
#calendar-list-tree-widget treechildren::-moz-tree-row(even) {
  background: var(--background-color);
  color: var(--thread-background-color) !important;
}

#calendar-task-tree-detail treechildren,
#calendar-list-tree-widget treechildren,
#calendar-task-tree treechildren, 
#unifinder-search-results-tree > treechildren {
    --treechildren-currentColor: var(--background-color);
    --treechildren-hoverBackground: var(--tree-background-color-hover);
    --treechildren-hoverCurrentBackground: var(--tree-background-color-hover);
    --treechildren-selectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusBackground: var(--tree-background-color-selected);
    --treechildren-selectedFocusCurrentBackground: var(--tree-background-color-selected);
    --treechildren-hoverSelectedBackground: var(--tree-background-color-selected);
    --treechildren-selectedColor: #000;
    --treechildren-focusColor: var(--tree-background-color-selected);
    --treechildren-selectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-selectedFocusCurrentImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverSelectedImage: linear-gradient(var(--tree-background-color-selected), var(--tree-background-color-selected));
    --treechildren-hoverImage: linear-gradient(var(--tree-background-color-hover), var(--tree-background-color-hover));
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected),
#calendar-list-tree-widget treechildren::-moz-tree-row(selected),
#calendar-task-tree treechildren::-moz-tree-row(selected),
#unifinder-search-results-tree treechildren::-moz-tree-row(selected) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected);
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, focus),
#calendar-task-tree-detail treechildren::-moz-tree-row(dropOn) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected) !important;
}

#calendar-task-tree-detail treechildren::-moz-tree-row(selected, current, focus) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected) !important;
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover),
#calendar-task-tree treechildren::-moz-tree-row(hover),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover) {
    border-color: var(--tree-background-color-hover);
    background-color: var(--tree-background-color-hover) !important;
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, current),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover, current),
#calendar-task-tree treechildren::-moz-tree-row(hover, current),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover, current)  {
    border-color: var(--tree-background-color-selected);
    background-image: var(--tree-background-color-selected) !important;
}

#calendar-task-tree-detail treechildren::-moz-tree-row(hover, selected),
#calendar-list-tree-widget treechildren::-moz-tree-row(hover, selected),
#calendar-task-tree treechildren::-moz-tree-row(hover, selected),
#unifinder-search-results-tree treechildren::-moz-tree-row(hover, selected) {
    border-color: var(--tree-background-color-selected);
    background-color: var(--tree-background-color-selected) !important;
}

#calMinimonthBox {
    margin-top: 0px;
}