@import url(chrome://MonterailOverlay/skin/icons/css/messenger.css);
@import url(chrome://MonterailOverlay/skin/icons/css/folder.css);

@font-face {
    font-family: 'LightSans';
    src: url('fonts/encodesansnarrow-light.woff2') format('woff2'), url('fonts/encodesansnarrow-light.woff') format('woff'), url('fonts/encodesansnarrow-light.ttf') format('truetype'), url('fonts/encodesansnarrow-light.svg#encode_sans_narrowlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --scrollbar-thumb-hover-color: red;
    /* Background color Navigation & Folder Pane */
    --background-color: #3c3b37;
	--background-color-inactive: #494844;
	
    /* Background Toolbox  & Compose*/
	--background-color-light: #F2F1F0;
	
    /* Background folder/thread/Lightning */
    --thread-background-color: #fff;
    --tree-background-color-selected: #F07746;
	--tree-background-color-hover: #f5f5f5;
	
	/* Fonts */
    --default-font: LightSans;
    --message-list-text-color: #4C4C4C;
    --link-color: #80CAFE;
	
	/*Message row & Folder row height */
    --message-list-row-height: 40px;
	--folder-tree-row-height: 25px;
	
    /* Scollbar */
    --scrollbar-thumb-color: rgba(127, 127, 127, 0.5);
	--scrollbar-thumb-hover-color: var(--tree-background-color-selected);
	
    /* Message Headers */
    --subject-line-font-size: 150%;
    --headers-background-color: #F2F1F0;
    --headers-text-color: var(--message-list-text-color);

    /* Search Box */
    --search-background-color: #fff;
    --search-text-color: #000;

    /* Date filter search */
    --dateColor: var(--background-color);
    --barHlColor: var(--tree-background-color-selected);
    --barColor: var(--tree-background-color-selected);
}

* {
    font-family: var(--default-font);
}

#mail-toolbar-menubar2,
#mail-bar3 #MsgHeadersToolbar,
#addrbook-toolbar-menubar2,
#ab-bar2,
#FormatToolbar {
    -moz-appearance: none !important;
    border: none !important;
}

toolbar>toolbarbutton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

box,
hbox,
vbox,
toolbox {
    box-shadow: none !important;
}

splitter {
    border-color: rgba(127, 127, 127, 0.25) !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
    content: "";
    display: none !important;
    height: 0px !important;
}

menu[disabled="true"] label,
menuitem[disabled="true"] label,
.splitmenu-menuitem[disabled="true"] label,
menucaption[disabled="true"] label,
.chromeclass-toolbar menu[disabled="true"] label,
.chromeclass-toolbar menuitem[disabled="true"] label,
.chromeclass-toolbar .splitmenu-menuitem[disabled="true"] label,
.chromeclass-toolbar menucaption[disabled="true"] label {
    color: grey !important;
}

/* Search Box */
.searchInput {
    background: var( --search-background-color);
    color: var(--search-text-color);
}

/* Search date filter */
#date-toggle {
    fill: #729fcf;
    color: #ffffff;
    background-image: url("chrome://messenger/skin/icons/timeline.svg") !important;
    background-color: transparent !important;
    -moz-context-properties: fill;
}

.facetious[type="date"][zoomedout="false"] .facet-date-zoom-out {
    background-color: var(--background-color) !important;
    background-image: url("chrome://messenger/skin/icons/zoomout-hover.png") !important;
}

.facetious[type="date"][zoomedout="false"] .facet-date-zoom-out:hover {
    background-color: var(--tree-background-color-selected) !important;
}

#date-toggle:hover {
    fill: var(--tree-background-color-selected) !important;
}

#facet-date text {
    fill: var(--headers-background-color);
}